# -*- compile-command: "gitlab-runner exec docker test" -*-

# Should be under default: but then gitlab-runner fails at finding it :(
image: paternal/pythons@sha256:12f82c6329797f90fde8f18811c1c08e6cd73c69570b04a4b7098a83403b82ca

default:
  # Gitlab-ci shared runner
  tags:
    - ci.inria.fr
    - small

stages:
  - build
  - test
  - release
  - deploy

test:
  stage: test
  script:
  - apt-get update && apt-get install -y curl
  - python3 -m pip install hatch
  - hatch run lint:check && hatch run test:pytest && hatch run cov:run
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

build-wheel:
  stage: build
  artifacts:
    paths:
      - dist/
  script:
  - python3 -m pip install hatch
  - hatch build

pypi-publish:
  stage: release
  only:
  - tags
  script:
  - python3 -m pip install hatch
  - unset LD_PRELOAD && hatch publish

pages:
  stage: deploy
  script:
  - python3 -m pip install hatch
  - unset LD_PRELOAD && hatch run docs:build
  - mkdir -p public
  - mv docs/_build/html/* public/
  artifacts:
    paths:
    - public/
  only:
  - master
